<div class="page">
    <div class="element">
        <h1>Mes Compétences</h1>
        @if (loading) {
        <div class="centered-container">
            <div class="loader"></div>
        </div>
        } @else if (skills.length !== 0) {
        <div class="container">
            <div class="container--wiuse" style="animation-delay: 0.2s">
                <h3>Langages</h3>
                @for (lang of getLanguages(); track lang) {
                <div class="container--wiuse--use">
                    <i [class]="lang.iconClass"></i>
                    <div class="container--wiuse--use--sep"></div>
                    <span [textContent]="lang.name"></span>
                </div>
                }
            </div>
            <div class="container--wiuse" style="animation-delay: 0.4s">
                <h3>Outils</h3>
                @for (tool of getTools(); track tool) {
                <div class="container--wiuse--use">
                    <i [class]="tool.iconClass"></i>
                    <div class="container--wiuse--use--sep"></div>
                    <span [textContent]="tool.name"></span>
                </div>
                }
            </div>
            <div class="container--wiuse" style="animation-delay: 0.6s">
                <h3>Frameworks</h3>
                @for (fw of getFrameworks(); track fw) {
                <div class="container--wiuse--use">
                    <i [class]="fw.iconClass"></i>
                    <div class="container--wiuse--use--sep"></div>
                    <span [textContent]="fw.name"></span>
                </div>
                }
            </div>
        </div>
        } @else {
        <div class="centered-container">
            <h2>
                Aïe, je n'ai pas réussi à récupérer la liste des compétences ...
            </h2>
            <h3>
                Je vous laisse aller voir directement mon
                <button (click)="linksUtils.openGithub()">Github</button>
            </h3>
        </div>
        }
    </div>
</div>
