<div class="page">
    <h1>Certains de mes projets</h1>
    <div class="projects">
        <div class="projects-project" *ngFor="let p of projects" [ngStyle]="{'animation-delay': projects.indexOf(p)*0.25 + 's'}">
            <div class="projects-project-text">
                <h2 [textContent]="p.title"></h2>
                <h3 [textContent]="p.subtitle"></h3>
                <p [textContent]="p.text"></p>
            </div>
            <div class="projects-project-utils">
                <span *ngFor="let util of p.used" [textContent]="util"></span>
            </div>
        </div>
    </div>
</div>