@use "./colors";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";

/* REQUIREMENTS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: poppins;
}

:root {
    scroll-behavior: smooth;
}

/* MIXINS */
@mixin PageTemplate {
    position: relative;
    overflow: hidden;
    padding: 20px 20px 70px 20px;
    color: colors.$mint-green;
    font-family: poppins;
    background-color: $dark-purple;
}

@mixin OnePage {
    @include PageTemplate();
    min-height: 100vh;
}

@mixin SimplePage {
    @include PageTemplate();
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

@mixin PageTitle() {
    h1 {
        text-align: center;
        opacity: 0;
        animation: fadeIn 2s forwards;
        margin-bottom: 30px; // Space between content and title
    }
}

@mixin absoluteCentered() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin loader() {
    .loader {
        width: 48px;
        height: 40px;
        margin-top: 30px;
        display: inline-block;
        position: relative;
        background: $mint-green;
        border-radius: 15% 15% 35% 35%;

        &::after {
            content: "";
            box-sizing: border-box;
            position: absolute;
            left: 45px;
            top: 8px;
            border: 4px solid $mint-green;
            width: 16px;
            height: 20px;
            border-radius: 0 4px 4px 0;
        }

        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 10px;
            color: $mint-green;
            top: -15px;
            left: 11px;
            box-sizing: border-box;
            animation: animloader 1s ease infinite;
        }
    }
}

@mixin centeredContainer() {
    .centered-container {
        @include absoluteCentered();

        display: flex;
        flex-flow: column nowrap;
        gap: 3vh;

        text-align: center;

        button {
            outline: none;
            border: none;
            background-color: $mint-green;

            font-size: 1rem;
            font-weight: 600;
            color: $dark-purple;

            border-radius: 20px;
            padding: 5px;

            transition: filter ease-in-out 250ms;

            &:hover {
                cursor: pointer;

                -webkit-filter: drop-shadow(0px 6px 8px $marian-blue);
                filter: drop-shadow(0px 6px 8px $marian-blue);
            }
        }
    }
}

/* KEYFRAMES */
@mixin topSlideInMixin($v) {
    @keyframes topSlideIn {
        100% {
            top: $v;
        }
    }
}

@mixin leftSlideInMixin($v) {
    @keyframes leftSlideIn {
        from {
            left: -100%;
        }
        to {
            left: $v;
        }
    }
}

@keyframes leftSlideIn {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes rightSlideIn {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes animloader {
    0% {
        box-shadow:
            2px 0px rgba($mint-green, 0),
            12px 0px rgba($mint-green, 0.3),
            20px 0px rgba($mint-green, 0);
    }

    50% {
        box-shadow:
            2px -5px rgba($mint-green, 0.5),
            12px -3px rgba($mint-green, 0.5),
            20px -2px rgba($mint-green, 0.6);
    }

    100% {
        box-shadow:
            2px -8px rgba($mint-green, 0),
            12px -5px rgba($mint-green, 0),
            20px -5px rgba($mint-green, 0);
    }
}
