@use "../../../styles.scss" as *;

@include topSlideInMixin(50%);

.page {
    @include OnePage();

    .shape {
        position: absolute;
        top: 0;
        height: 100vh;
        z-index: 1;

        animation-duration: 1s;
        animation-fill-mode: forwards;

        &-left {
            animation-name: leftSlideIn;
        }
        &-right {
            animation-name: rightSlideIn;
        }
    }

    .container {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: -100%;
        left: 50%;
        z-index: 2;

        transform: translate(-50%, -50%);

        text-align: center;

        animation: topSlideIn 1s forwards;

        *:hover {
            cursor: default;
        }

        img {
            width: 100px;
            height: auto;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 34px;
        }

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 26px;
            font-weight: 500;

            span {
                color: $marian-blue;
            }
        }

        &-buttons {
            width: 40%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                outline: none;
                height: 50px;
                width: 50px;

                i {
                    font-size: 40px;
                    color: $mint-green;

                    transition:
                        font-size ease-in-out 250ms,
                        filter ease-in-out 250ms;

                    -webkit-filter: drop-shadow(0px 3px 5px $federal-blue);
                    filter: drop-shadow(0px 3px 5px $federal-blue);

                    &:hover {
                        cursor: pointer;
                        font-size: 45px;

                        -webkit-filter: drop-shadow(0px 4px 6px $marian-blue);
                        filter: drop-shadow(0px 4px 6px $marian-blue);
                    }
                }

                &:focus {
                    i {
                        font-size: 45px;

                        -webkit-filter: drop-shadow(0px 4px 6px $marian-blue);
                        filter: drop-shadow(0px 4px 6px $marian-blue);
                    }
                }
            }
        }
    }
}
