@use "../../../styles/styles.scss" as *;

.page {
    @include OnePage();
    @include PageTitle();
    @include loader();
    @include centeredContainer();

    .projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;

        &-project {
            cursor: default;
            width: 400px;

            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            padding: 20px;
            background-color: rgba($color: $federal-blue, $alpha: 0.5);
            border-radius: 20px;

            transform: scale(0);
            animation: growIn 1s forwards;

            gap: 1vh;

            &-header {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: flex-start;

                &-text {
                    h2 {
                        font-weight: 600;
                    }
                    h3 {
                        color: $marian-blue;
                    }
                }
                button {
                    background-color: transparent;
                    border: none;
                    outline: none;

                    img {
                        width: 20px;
                        height: auto;

                        transition: transform ease-in-out 250ms;
                    }

                    &:focus,
                    &:hover {
                        img {
                            cursor: pointer;
                            transform: scale(1.2);
                        }
                    }
                }
            }

            &-utils {
                display: flex;
                flex-flow: row wrap;
                gap: 10px;

                span {
                    padding: 5px;
                    background-color: rgba($color: $marian-blue, $alpha: 0.75);
                    border-radius: 10px;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .page .projects-project {
        gap: 1vh;
    }
}
