@import "../../styles.scss";

.page {
    @include OnePage();

    p {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 30px;

        animation: fadeIn 1.5s forwards;

        span {
            color: $marian-blue;
        }
    }
}