/* COLORS */
$dark-purple: #0d0221ff;
$federal-blue: #0f084bff;
$marian-blue: #26408bff;
$light-blue: #a6cfd5ff;
$mint-green: #c2e7d9ff;


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* REQUIREMENTS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: poppins;
}

:root {
    scroll-behavior: smooth;
}

/* MIXINS */
@mixin PageTemplate {
    position: relative;
    overflow: hidden;
    padding: 20px 20px 70px 20px;
    color: $mint-green;
    font-family: poppins;
    background-color: $dark-purple;
}

@mixin OnePage {
    @include PageTemplate();
    min-height: 100vh;
}

@mixin SimplePage {
    @include PageTemplate();
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

@mixin PageTitle() {
    h1 {
        text-align: center;
        opacity: 0;
        animation: fadeIn 2s forwards;
        margin-bottom: 30px; // Space between content and title
    }
}

/* KEYFRAMES */
@mixin topSlideInMixin($v) {
    @keyframes topSlideIn {
        100% { top: $v }    
    }
}

@keyframes leftSlideIn {
    from { left: -100%; } 
    to { left: 0; }
}

@keyframes rightSlideIn {
    from { right: -100%; } 
    to { right: 0; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes growIn {
    from { transform: scale(0); }
    to { transform: scale(1); }
}