/* COLORS */
$dark-purple: #0d0221ff;
$federal-blue: #0f084bff;
$marian-blue: #26408bff;
$light-blue: #a6cfd5ff;
$mint-green: #c2e7d9ff;


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* REQUIREMENTS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    scroll-behavior: smooth;
}

/* MIXINS */
@mixin PageTemplate {
    padding: 20px;
    color: $mint-green;
    font-family: poppins;
    background-color: $dark-purple;
}

@mixin OnePage {
    @include PageTemplate();
    min-height: 100vh;
}

@mixin SimplePage {
    @include PageTemplate();
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}