<div class="page">
    <img src="/assets/home/left-shape.svg" alt="" class="shape shape-left">
    <img src="/assets/home/right-shape.svg" alt="" class="shape shape-right">

    <div class="container">
        <h1>Bienvenue sur mon portfolio !</h1>
        <h2>Étudiant en <span>BUT Informatique</span> et <span>Développeur</span></h2>
        <div class="container-buttons">
            <a (click)="redirectTo('https://github.com/Mitotow')"><i class="devicon-github-original"></i></a>
            <a (click)="redirectTo('https://www.linkedin.com/in/thomas-ambroise-57971325b/')"><i class="devicon-linkedin-plain"></i></a>
        </div>
    </div>
</div>
