@use "../../../styles.scss" as *;

.page {
    @include OnePage();

    p {
        @include absoluteCentered();

        font-size: 30px;

        animation: fadeIn 1.5s forwards;

        span {
            color: $marian-blue;
        }
    }
}
